<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <th:block th:insert="fragments/common :: head"/>
</head>
<body id="bodyClientForm">
<header th:insert="fragments/navbar :: navbar"></header>
<section class="container text-center mt-5">
    <nav th:if="${client.id}" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a id="linkBack" th:href="@{'/clients/' + ${client.id}}">Назад</a></li>
        </ol>
    </nav>
    <h2 class="h2 mt-5 mb-5">Клиент</h2>
    <form method="post" th:action="${client.id == null ? '/clients/new' : '/clients/update'}" th:object="${client}">
        <input type="hidden" th:field="*{id}">
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="mb-3">
                    <label for="fullName" class="form-label">ФИО</label>
                    <input type="text" id="fullName"
                           th:class="${#fields.hasErrors('fullName')} ? 'form-control is-invalid' : 'form-control'"
                           th:field="*{fullName}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}"
                         th:errors="*{fullName}"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="email" class="form-label">Эл. почта</label>
                    <input type="email" id="email"
                           th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                           th:field="*{email}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон</label>
                    <input type="text" id="phone"
                           th:class="${#fields.hasErrors('phone')} ? 'form-control is-invalid' : 'form-control'"
                           th:field="*{phone}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="passport" class="form-label">Паспорт</label>
                    <input type="text" id="passport"
                           th:class="${#fields.hasErrors('passport')} ? 'form-control is-invalid' : 'form-control'"
                           th:field="*{passport}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('passport')}"
                         th:errors="*{passport}"></div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-5">Сохранить</button>
    </form>
    <div th:if="${client.id}" id="btnClear">
        <a th:href="@{'/clients/update/' + ${client.id}}" class="btn btn-info mt-4">Сбросить</a>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger mt-4 mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Удалить
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вся информация о кредитных предложениях будет удалена вместе с клиентом.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <a th:href="@{'/clients/remove/' + ${client.id}}" type="button" class="btn btn-danger">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="fragments/common :: foot"/>
</body>
</html>