<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <th:block th:insert="fragments/common :: head"/>
</head>
<body id="bodyClient">
<header th:insert="fragments/navbar :: navbar"></header>
<section class="container text-center mb-4">
    <h2 class="h1 mt-5 mb-5">Клиенты</h2>
    <table class="table" id="tableClients">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Телефон</th>
            <th scope="col">Эл. почта</th>
            <th scope="col">Паспорт</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.fullName}"></td>
            <td th:text="${client.phone}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.passport}"></td>
            <td><a class="btn btn-secondary btn-sm" th:href="@{'/clients/' + ${client.id}}">Подробнее</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary mt-3 mb-5" id="btnClients" data-limit="20" data-offset="0">Показать еще</a>
</section>
<th:block th:insert="fragments/common :: foot"/>
</body>
</html>