<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Offer</title>
    <th:block th:insert="fragments/common :: head"/>
</head>
<body id="bodyOffer">
<header th:insert="fragments/navbar :: navbar"></header>
<section class="container-sm text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-5">
            <li class="breadcrumb-item"><a id="linkBack" th:href="@{'/clients/' + ${offer.clientDto.id}}">Назад</a></li>
        </ol>
    </nav>
    <h2 class="h2 mb-5" th:text="${'Предложение для: ' + offer.clientDto.fullName}"></h2>
    <form method="post" th:action="${offer.id == null ? '/offers/new' : '/offers/update'}" th:object="${offer}">
        <input type="hidden" th:field="*{id}"/>
        <!--        <input type="hidden" class="form-control" id="creditAmountHidden" name="amount" th:field="*{amount}">-->
        <input type="hidden" name="clientId" th:value="${offer.clientDto.id}"/>
        <div class="row gy-2 gx-3 justify-content-md-center mb-5">
            <div class="col-auto mx-5 ">
                <label class="sr-only" for="selectCredit">Кредит</label>
                <select class="form-select" id="selectCredit" name="creditId" required="required">
                    <option selected value="not" id="defaultOption"
                            th:if="${offer.creditDto != null}"
                            th:value="${offer.creditDto.id}"
                            th:attr="limit=${offer.creditDto.limitOn},rate=${offer.creditDto.interestRate}"
                            th:text="${'₽' + offer.creditDto.formatLimit() + ' - ' + offer.creditDto.interestRate + '%' + ' current'}">
                    </option>
                    <th:block th:each="credit : ${credits}">
                        <option th:if="${offer.creditDto == null or offer.creditDto.id != credit.id}"
                                th:value="${credit.id}"
                                th:attr="limit=${credit.limitOn},rate=${credit.interestRate}"
                                th:text="${'₽' + credit.formatLimit() + ' - ' + credit.interestRate + '%'}">
                        </option>
                    </th:block>
                </select>
            </div>
            <div class="col-auto mx-5">
                <label class="sr-only" for="selectDate">Дата платежа</label>
                <select class="form-select" id="selectDate" name="datePayment">
                    <option th:value="5" th:text="${'5'}"></option>
                    <option th:value="15" th:text="${'15'}"></option>
                    <option th:value="25" th:text="${'25'}"></option>
                </select>
            </div>
            <div class="col-auto mx-5">
                <label id="labelRange" for="customRange3" class="form-label">Срок кредита (лет) </label>
                <input type="range" name="countMonth" class="form-range" min="12" max="180" step="12" id="customRange3"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-6 col-md-4">
                <a type="submit" class="btn btn-info mt-2" id="computeSchedule">Рассчитать</a>
                <button type="submit" class="btn btn-success mt-2">Оформить</button>
                <a th:unless="${offer.id == null}" type="submit" th:href="@{'/offers/' + ${offer.id}}"
                   class="btn btn-info mt-2 clearBtn">Сбросить</a>
                <a th:if="${offer.id == null}" type="submit" th:href="@{'/offers/new/' + ${offer.clientDto.id}}"
                   class="btn btn-info mt-2 clearBtn">Сбросить</a></div>
        </div>
    </form>
    <div class="row" id="formAmount" hidden>
        <div class="col-6 col-md-4">
            <fieldset disabled aria-label="Disabled example">
                <label class="sr-only" for="creditAmount">Итоговая сумма</label>
                <input type="text" class="form-control" id="creditAmount"/>
            </fieldset>
        </div>
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4"></div>
    </div>
    <table class="table mt-5" id="tableSchedule" hidden="hidden">
        <thead>
        <tr>
            <th scope="col">Дата платежа</th>
            <th scope="col">Сумма платежа</th>
            <th scope="col">Платеж по основному долгу</th>
            <th scope="col">Платеж по процентам</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
<th:block th:insert="fragments/common :: foot"/>
</body>
</html>