#bodyMain {
    background-image:linear-gradient(rgba(127, 134, 134, 0.78), rgba(119, 126, 82, 0.78)),url("/images/money.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bodyClient {
    background-image:linear-gradient(rgba(104, 110, 110, 0.78), rgba(94, 100, 65, 0.78)),url("/images/people.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(2px);
    color: #ffffff;
}

#bodyClient table {
    color: #ffffff;
}