<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Credit</title>
    <th:block th:insert="fragments/common :: head"/>
</head>
<body id="bodyCreditForm">
<header th:insert="fragments/navbar :: navbar"></header>
<section class="container text-center">
    <nav th:if="${credit.id}" aria-label="breadcrumb">
        <ol class="breadcrumb mt-5">
            <li class="breadcrumb-item"><a id="linkBack" th:href="@{/credits/}">Назад</a></li>
        </ol>
    </nav>
    <div id="mesSuccess" th:if="${message}" class="alert alert-success" role="alert" th:text="${message}">
    </div>
    <h2 class="h2 mt-5 mb-5">Кредит</h2>
    <form method="post" th:action="${credit.id == null ? '/credits/new' : '/credits/update'}" th:object="${credit}">
        <input type="hidden" th:field="*{id}"/>
        <div class="row row-cols-4 justify-content-md-center">
            <div class="col">
                <label for="limit" class="form-label">Лимит</label>
                <input type="text" id="limit"
                       th:class="${#fields.hasErrors('limitOn')} ? 'form-control is-invalid' : 'form-control'"
                       th:field="*{limitOn}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('limitOn')}" th:errors="*{limitOn}"></div>
            </div>
            <div class="col">
                <label for="interestRate" class="form-label">Процентная ставка</label>
                <input type="text" id="interestRate"
                       th:class="${#fields.hasErrors('interestRate')} ? 'form-control is-invalid' : 'form-control'"
                       th:field="*{interestRate}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('interestRate')}" th:errors="*{interestRate}"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-5">Сохранить</button>
    </form>
    <div th:if="${credit.id}" id="btnClear">
        <a th:href="@{'/credits/' + ${credit.id}}" class="btn btn-info mt-4">Сбросить</a>
    </div>
    <div th:if="${credit.id}">
        <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
           class="btn btn-danger mt-4">Удалить</a>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вся информация о кредитных предложениях будет удалена вместе с кредитом.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <a th:href="@{'/credits/remove/' + ${credit.id}}" type="button" class="btn btn-danger">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<th:block th:insert="fragments/common :: foot"/>
</html>